# MongoDB Configuration
MONGODB_URL="mongodb+srv://<username>:<password>@<cluster>.mongodb.net/?appName=<app_name>"
DATABASE_NAME="krishisarthi"

# Django settings
# SECRET_KEY=your-secret-key-here
# DEBUG=True
